<div class=""><!--container-fluid-->
  <div class="jumbotron text-center">
    <!-- <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
      <span translate>Hello world !</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader> -->
    <!-- <q [hidden]="isLoading">{{quote}}</q> -->

    <!-- <button class="btn" (click)="saluta()" #myBtn>Click me</button>

    <div translate>TEST_TRANSLATION</div>
    <test-component></test-component>
    <articolo></articolo>
	<hr>
	<app-table></app-table> -->

	<div [ngStyle]="{'font-size': '24px', 'font-weight': '600'}">
		<span translate>welcomeHome</span>
		<span translate>APP_NAME</span><span>!</span>
	</div>
  </div>

</div>
