<div class=""><!--container-fluid-->

  <div class="breadcrumbs">
    <div class="">
        <div class="col-sm-12">
            <h1 id="system-breadcrumb" style="color:#c30c26;">Atti di Consiglio</h1>
            <a href="{{getComuneBaseUrl()}}" title="Go to /" rel="nofollow"><span>Home</span></a>
            <span class="separator">&gt;</span>
            <a href="{{getComuneBaseUrl()}}/pagina/consiglio-comunale" title="Go to /pagina/consiglio-comunale" rel="nofollow"><span>Consiglio comunale</span></a>
            <span class="separator">&gt;</span>
            <a href="{{getComuneBaseUrl()}}/pagina/consiglio-comunale/lavori" title="Go to /pagina/consiglio-comunale/lavori" rel="nofollow"><span>Lavori</span></a>
            <span class="separator">&gt;</span>
            <span class="current" translate>councilActs</span>
        </div>
    </div>
  </div>

  <div class="jumbotron text-center">
	   <app-cerca-ac></app-cerca-ac>
  </div>
</div>
