<div class=""><!--container-fluid-->

  <div class="breadcrumbs">
    <div class="">
        <div class="col-sm-12">
            <h1 id="system-breadcrumb" style="color:#c30c26;">Decreti</h1>
            <a href="{{getComuneBaseUrl()}}" title="Go to /" rel="nofollow"><span>Home</span></a>
            <span class="separator">&gt;</span>
            <a href="{{getComuneBaseUrl()}}/pagina/amministrazione-trasparente" title="Go to /pagina/amministrazione-trasparente" rel="nofollow"><span>Amministrazione trasparente</span></a>
            <span class="separator">&gt;</span>
            <a href="{{getComuneBaseUrl()}}/pagina/amministrazione-trasparente/provvedimenti" title="Go to /pagina/amministrazione-trasparente/provvedimenti" rel="nofollow"><span>Provvedimenti</span></a>
            <span class="separator">&gt;</span>
            <a href="{{getComuneBaseUrl()}}/pagina/amministrazione-trasparente-provvedimenti/provvedimenti-organi-indirizzo-politico" title="Go to /pagina/amministrazione-trasparente-provvedimenti/provvedimenti-organi-indirizzo-politico" rel="nofollow"><span>Provvedimenti organi indirizzo politico</span></a>
            <span class="separator">&gt;</span>
            <span class="current" translate>decrees</span>
        </div>
    </div>
  </div>

  <div class="jumbotron text-center">
	<app-cerca-dec></app-cerca-dec>
  </div>
</div>
