<div class=""><!--container-fluid-->

  <div class="breadcrumbs">
    <div class="">
        <div class="col-sm-12">
            <h1 id="system-breadcrumb" style="color:#c30c26;">Provvedimenti Dirigenziali</h1>
            <a href="{{getComuneBaseUrl()}}" title="Go to /" rel="nofollow"><span>Home</span></a>
            <span class="separator">&gt;</span>
            <a href="{{getComuneBaseUrl()}}/pagina/amministrazione-trasparente" title="Go to /pagina/amministrazione-trasparente" rel="nofollow"><span>Amministrazione trasparente</span></a>
            <span class="separator">&gt;</span>
            <a href="{{getComuneBaseUrl()}}/pagina/amministrazione-trasparente/provvedimenti" title="Go to /pagina/amministrazione-trasparente/provvedimenti" rel="nofollow"><span>Provvedimenti</span></a>
            <span class="separator">&gt;</span>
            <a href="{{getComuneBaseUrl()}}/pagina/amministrazione-trasparente-provvedimenti/provvedimenti-dirigenti-amministrativi" title="Go to /pagina/amministrazione-trasparente/provvedimenti/provvedimenti-dirigenti-amministrativi" rel="nofollow"><span>Provvedimenti dirigenti amministrativi</span></a>
            <span class="separator">&gt;</span>
            <span class="current" translate>managerialMeasures</span>
        </div>
    </div>
  </div>

  <div class="jumbotron text-center">
	<app-cerca-pd></app-cerca-pd>
  </div>
</div>
